@model ON.Fragments.Content.ContentRecord.Types.PublicData
@using userHelper = ON.Authentication.ONUserHelper;
@{
    ViewData["Title"] = Model.Title;
}

@if (userHelper.MyUser?.IsWriterOrHigher ?? false)
{
    <p>
        <a class="btn btn-primary" href="/content/@(Model.ContentID)/edit">Edit</a>
    </p>
    <br />
}


<h1>@Model.Title</h1>

<h5>@Model.Subtitle</h5>

<em>By: @Model.Author</em>

@if (Model.SubscriptionLevel == 0 || (userHelper.MyUser?.IsWriterOrHigher ?? false))
{
    @Html.Raw(Model.Body)
}
else
{
    if (Model.SubscriptionLevel <= (userHelper.MyUser?.SubscriptionLevel ?? 0))
    {
        @Html.Raw(Model.Body)
    }
    else
    {
        <br />
        <br />
        if (userHelper.MyUser == null)
        {
            <span>To see the content <a href="/register">sign up</a> for an account</span>
        }
        else
        {
            <span>To see the content change your <a href="/subscription">subscription</a>  level</span>
        }
    }
}

