@model ViewContentViewModel
@using ON.SimpleWeb.Models.CMS;
@using userHelper = ON.Authentication.ONUserHelper;
@{
    ViewData["Title"] = Model.Record.Data.Title;
}

@if (userHelper.MyUser?.IsWriterOrHigher ?? false)
{
    <p>
        <a class="btn btn-primary" href="/content/@(Model.Record.ContentID)/edit">Edit</a>
    </p>
    <br />
}


<h1>@Model.Record.Data.Title</h1>

<h5>@Model.Record.Data.Description</h5>

<em>By: @Model.Record.Data.Author</em>

<br />
<br />
@if (Model.Stats.SavedByUser)
{
    <a href="/content/@(Model.Record.ContentID)/unsave">Unsave Article</a>
}
else
{
    <a href="/content/@(Model.Record.ContentID)/save">Save Article</a>
}
<br />
<br />

@if (Model.Record.Data.SubscriptionLevel == 0 || (userHelper.MyUser?.IsWriterOrHigher ?? false))
{
    @Html.Raw(Model.Record.Data.Written.HtmlBody)

    @await Html.PartialAsync("ViewComments", Model.Comments)
}
else
{
    if (Model.Record.Data.SubscriptionLevel <= (userHelper.MyUser?.SubscriptionLevel ?? 0))
    {
        @Html.Raw(Model.Record.Data.Written.HtmlBody)

        @await Html.PartialAsync("ViewComments", Model.Comments)
    }
    else
    {
        <br />
        <br />
        if (userHelper.MyUser == null)
        {
            <pre>To see the content <a href="/register">sign up</a> for an account</pre>
        }
        else
        {
            <pre>To see the content change your <a href="/subscription">subscription</a>  level</pre>
        }
    }
}

