@model ON.SimpleWeb.Models.CMS.ViewContentViewModel
@using userHelper = ON.Authentication.ONUserHelper;
@{
    ViewData["Title"] = Model.Record.Data.Title;
}

@if (userHelper.MyUser?.IsWriterOrHigher ?? false)
{
    <p>
        <a class="btn btn-primary" href="/content/@(Model.Record.ContentID)/edit">Edit</a>
    </p>
    <br />
}


<h1>@Model.Record.Data.Title</h1>

<h5>@Model.Record.Data.Description</h5>

<em>By: @Model.Record.Data.Author</em>

<br />
<br />
@if (Model.Stats.SavedByUser)
{
    <a href="/content/@(Model.Record.ContentID)/unsave">Unsave Video</a>
}
else
{
    <a href="/content/@(Model.Record.ContentID)/save">Save Video</a>
}
<br />
<br />

@if (Model.Record.Data.SubscriptionLevel == 0 || (userHelper.MyUser?.IsWriterOrHigher ?? false))
{
    @if (Model.Record.Data.Video.RumbleVideoId != "")
    {
        <iframe loading="lazy" class="rumble" width="100%" height="100%" src="https://rumble.com/embed/@Model.Record.Data.Video.RumbleVideoId" frameborder="0" allowfullscreen style="min-height:500px"></iframe>
    }
    else if (Model.Record.Data.Video.YoutubeVideoId != "")
    {
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/@Model.Record.Data.Video.YoutubeVideoId" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="youtubeframe" style="min-height:500px"></iframe>
    }
    @Html.Raw(Model.Record.Data.Video.HtmlBody)
}
else
{
    if (Model.Record.Data.SubscriptionLevel <= (userHelper.MyUser?.SubscriptionLevel ?? 0))
    {
        @if (Model.Record.Data.Video.RumbleVideoId != "")
        {
            <iframe loading="lazy" class="rumble" width="100%" height="100%" src="https://rumble.com/embed/@Model.Record.Data.Video.RumbleVideoId" frameborder="0" allowfullscreen style="min-height:500px"></iframe>
        }
        else if (Model.Record.Data.Video.YoutubeVideoId != "")
        {
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/@Model.Record.Data.Video.YoutubeVideoId" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="youtubeframe" style="min-height:500px"></iframe>
        }
        @Html.Raw(Model.Record.Data.Video.HtmlBody)
    }
    else
    {
        <br />
        <br />
        if (userHelper.MyUser == null)
        {
            <pre>To see the content <a href="/register">sign up</a> for an account</pre>
        }
        else
        {
            <pre>To see the content change your <a href="/subscription">subscription</a>  level</pre>
        }
    }
}

